

/* Second Section*/

.second{
    padding: 50px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    line-height: 24px;
}

.subtitle{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    font-size: var(--extra-large);
    font-weight: 400;
    line-height: 1em;
}

/* Step Box */

.bonusSteps{
    background-color: var(--background-light-gray);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    gap: 10px;
}

.step{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.stepTitle{
    font-weight: bold;
    font-size: var(--normal);
}

.stepText{
    font-size: var(--small);
}

/* Teacher's Presentation */
.teacherCard{
    background-color: var(--background-light-gray);
    max-width: 450px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 30px
}

.teacherTitle{
    font-size: var(--large);
}

.teacherBackground{
    width: 100%;
    background-color: var(--background-dark-gray);
}

.teacherBox{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.teacherInfos{
    text-align: left;
}

.teacherText{
    padding: 0 50px;
}

/* Instructions */
.instructionBox{
    height: 100%;
}

.instructions{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.instructionCard{
    background-color: var(--background-light-gray);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.instructionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: var(--medium);
}

.instructionProminence{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* gap: 20px; */
    border-radius: 10px;
    /* height: 150px; */
    background: linear-gradient(50deg, var(--background-dark-blue), var(--background-light-blue));
}

.instructionProminence>p{
    font-weight: bold;
    font-size: var(--medium);
    width: 50%;
}